.Parallax{
  width: 100%;
  height: 650px;
}

.Solver:before{
  content: " ";
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  width: 100%;
  height: 650px;
  background-image: url(/src/assets/parallax.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Solver{
  position: relative;
  z-index: 1;
}

.Middler{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Services{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Services>h2{
  text-align: center;
  font-size: 40px;
}

.Services>h1{
  text-align: center;
  font-size: 30px;
  margin: 0;
}

.Services>ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  list-style-type: none; /* Remove bullets */
  font-size: 20px;
  font-weight: bold;
}

.Services>ul>li>span{
  margin-right: 15px;
}

ul.Methods{
  padding: 0;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
}

.Methods>li{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A6C5C6;
  border-radius: 50px 50px 50px 50px;
}

.Methods>li>span{
  margin-right: 0 !important;
  margin-top: 10px;
  text-align: center;
}

.Methods>li>img{
  width: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (max-width: 800px) {
  
}